SMTP_HOST=      
SMTP_PORT=
SMTP_USER=                  
SMTP_PASSWORD=
EMAIL_RECIPIENT_GENERAL=
EMAIL_RECIPIENT_COFFEE=
EMAIL_RECIPIENT_FESTIVITIES=
USER_COFFEE=
USER_FESTIVITIES=
SECRET_COFFEE=
SECRET_FESTIVITIES=
